<header>
  <div class="companyName">
    COWIN-20 
  </div>
  <form class="login">
    <fieldset>
      <input name="username" type="text" [(ngModel)]="username" placeholder="username">
      <input name="password" type="password" [(ngModel)]="password" placeholder="password">
      <button id="loginButton" type="button" (click)="login()">Вход</button>
    </fieldset>
  </form>
  <div class="links">
    <a id="dial" role="button" (click)="openModal()">Забравено име / парола?</a>
    <a href="/register">Регистрация</a>
  </div>
</header>

<nav>
  <div id="navigation-container">
    <button type="button" [class]="navButtonClasses[0]" (click)="changeTab(0)">Новини</button>
    <button type="button" [class]="navButtonClasses[1]" (click)="changeTab(1)">Covid-19</button>
    <button type="button" [class]="navButtonClasses[2]" (click)="changeTab(2)">За пандемиите</button>
    <button type="button" [class]="navButtonClasses[3]" (click)="changeTab(3)">Как да се пазим</button>
  </div>


  <div id="search-bar">
    <input name="search-phrase" type="text" maxlength="30" placeholder="Търси...">
    <img src="../../../../assets/images/icons/search2.png" alt="Search" style="width:36px;height:36px;">
  </div>
</nav>

<main>
  <section id="news" [hidden]="this.selectedTabId !== 0">
    <div class="date">
      11.06.20
    </div>
    <div class="title">
      Рекорден брой нови случаи в България
    </div>
    <div class="info">
      104 са новите установени случаи на заразени с COVID-19 у нас за денонощие. Общият
      брой на заболелите е 2 993, от които активни са 1 162. Това сочат данните на Единния
      информационен портал. Разпределението по области по настоящ адрес на лицата е, както
      следва: Благоевград - 2; Велико Търново - 1; Кърджали - 1; Пазарджик - 2; Перник - 1;
      Плевен - 4; Разград - 3; Сливен - 8; Смолян - 41; София област - 4; София град - 19;
      Стара Загора - 15; Хасково - 1; Шумен - 2.
    </div>
  
    <div class="date">
      11.06.20
    </div>
    <div class="title">
      Извънредната епидемична обстановка се удължава до 30 юни
    </div>
    <div class="info">
      Извънредната епидемична обстановка заради коронавируса у нас ще остане до края на юни.
      Това стана ясно от думите на премиера Бойко Борисов в началото на заседанието на Министерския съвет.
      По думите му удължаването на епидемичната обстановка по никакъв начин не трябва да бъде приемано
      като застрашаващо или стресиращо. Той отново посочи, че мерките ни са най-либерални.
    </div>
  
    <div class="date">
      10.06.20
    </div>
    <div class="title">   
     Ново огнище на COVID-19: 51 положителни проби в Доспат
    </div>
    <div class="info">
      Oгнището на коронавирус в Родопите се разраства. Само в днешния ден са доказани нови 51 заразени.
      Всички те са от Доспат и работят в цех за играчки за шоколадови изделия. В същия завод, още преди
      дни бяха доказани и други заразени работници, но живеещи в град Сърница. Така вирусът продължава
      да се предава между двете общини.
    </div>
  
    <div class="date">
      09.06.20
    </div>
    <div class="title">
      Три учителки от детска градина в София са с коронавирус
    </div>
    <div class="info">
      Tри учителки от персонала на детска градина №50 в район “Възраждане” са с положителен резултат
      за Ковид-19 от направени бързи тестове, съобщи столичният кмет Йорданка Фандъкова във "Фейсбук".
      Утре, 10 юни, двете групи - Първа В и Четвърта А - в които те са преподавали, ще бъдат затворени.
    </div>

  </section>

  <section id="asthma" [hidden]="this.selectedTabId !== 1">
    <article>
      <h1>Какво представлява вируса Covid-19?</h1>
      <p>
        CoV е нов щам на коронавирус. Заболяването, което за пръв път беше идентифицирано в Ухан, Китай, беше наречено 
        коронавирус 2019 (COVID-19). COVID-19 e нов вирус, свързан със същото семейство вируси като Тежкия остър респираторен
        синдром (ТОРС) и някои видове настинки.
        Вирусът се предава чрез пряк контакт със заразен човек при кашляне и кихане и чрез докосване до заразени повърхности.
        COVID-19 може да оцелее върху повърхности в продължение на няколко часа, но обикновените дезинфектанти могат да го убият.
        Симптомите включват висока температура, кашлица и недостиг на въздух. При по-тежките случаи инфекцията може да причини пневмония или
        затруднения в дишането. По-рядко заболяването може да има фатален изход. Симптомите са подобни на тези при грип или обикновена настинка,
        които са доста по-често срещани от COVID-19. Ето защо са необходими изследвания, за да се потвърди, че някой е заразен с COVID-19. Важно
        е да се запомни, че ключовите превантивни мерки са същите – често миене на ръцете и респираторна хигиена.
      </p>
    </article>
  </section>

  <section id="diabetes" [hidden]="this.selectedTabId !== 2">
    <article>
      <h1>Какво представляват пандемиите?</h1>
      <p>
        Думата „пандемия“ произлиза от гръцки и означава „всички хора“ (παν, pan – „всички“ и δήμος, demos – „хора“). Пандемиите нямат нищо общо с 
        тежестта на дадена болест, а са свързани с тяхното географско разпространение. Според Световната здравна организация пандемия се обявява, когато
         нов вирус, за който хората нямат имунитет, се разпространи по целия свят отвъд очакванията. На практика пандемията представлява всеобхватна епидемия,
          която се разпространява сред населението на определен обширен географски регион, континент или по целия свят, като се заразяват много хора. Обикновено
           процентът на смъртност при пандемичните вълни е особено висок. За разлика от пандемията, епидемията е внезапно и масово увеличаване на случаите на заболяване,
            които могат да бъдат наблюдавани в дадена държава или общност. Епидемията се отнася до локално разпространение, но ако излезе извън границите на страна и континент,
             прераства в пандемия.
      </p>
      <h1>Кога се обявява пандемия?</h1>
      <p>
        Точни критерии за това липсват. Pроф. Мери-Луиз Маклауз, експерт по борба с инфекциите и съветник на СЗО, според която обявяването на пандемия
         невинаги е ясно, тъй като зависи от използваното моделиране, което може да се различава между СЗО и други здравни организации. В крайна сметка СЗО има последната дума. Няма праг
          като определен брой смъртни случаи или инфекции или брой засегнати държави, които трябва да бъдат достигнати, за да се обяви такава. Например коронавирусът Sars, идентифициран
           през 2003, не е обявен за пандемия от СЗО, въпреки че засяга 26 страни, припомня The Guardian.
      </p>
    </article>
  </section>

  <section id="hashimoto" [hidden]="this.selectedTabId !== 3">
    <article>
      <h1>Как да се пазим?</h1>
      <p>
        •&nbsp;&nbsp;Избягвайте контакт с болни хора, особено ако имат кашлица<br>

        •&nbsp;&nbsp;При първите симптоми се консултирайте веднага с Вашия лекар<br>

        •&nbsp;&nbsp;Спазвайте стриктна лична хигиена вкъщи и на обществени места<br>

        •&nbsp;&nbsp;Мийте си ръцете след контакт с всяка външна повърхност<br>

        •&nbsp;&nbsp;Дезифенкцирайте пространството около вас редовно с препарат на спиртна основа<br>
  
        •&nbsp;&nbsp;Избягвайте да докосвате с немити ръце очите, носа и устата си<br>

        •&nbsp;&nbsp;Обработвайте на висока температура продуктите от животински произход<br>

        •&nbsp;&nbsp;Проветрявайте често вкъщи и на работното място<br>

        •&nbsp;&nbsp;Почиствайте подовете и други повърхности с дезинфекциращи препарати<br>

        •&nbsp;&nbsp;Където и да пътувате, прилагайте общите правила за хигиена на ръцете и храната<br>

        •&nbsp;&nbsp;Носете маски на обществени места и при близък контакт с други хора<br>

      </p>
    </article>
  </section>

</main>