main {
    background-color: whitesmoke;
    height: calc(100% - 228px);
    padding: 45px 95px;
}

nav {
    background-color: #333;
    border: none;
    display: block;
    height: 48px;
    margin: 110px 0 0 0;
    overflow: hidden;
    padding: 0;
    width: 100%;
}

article {
    overflow: hidden;
    padding: 30px;
}

article h1 {
    margin-bottom: 30px;
}

article p {
    text-align: justify;
}

button#loginButton {
    background-color: #BEBEBE;
    border-radius: 0;
    cursor: pointer;
    float: right;
    height: 30px;
    margin-right: 20px;
    outline: none;
    padding: 0;
    text-align: center;
    width: 80px;
}

nav button {
    border: none;
    border-radius: 0;
    cursor: pointer;
    display: block;
    float: left;
    font-weight: bold;
    font: bold 16px sans-serif;
    height: 48px;
    outline: none;
    padding: 14px 14px;
    text-align: center;
    text-decoration: none;
    width: 160px;
}

.active, nav button:hover {
    background-color: rgb(163, 239, 176);
    color: rgb(56, 87, 35);
}

.inactive {
    background-color: #333;
    color: white;
}

div.links a {
    color: rgb(56, 87, 35);
    font: bold 14px sans-serif;
    margin-left: 20px;
    margin-right: 20px;
}

div.links a:hover {
    cursor: pointer;
    color: rgb(56, 87, 35);
    text-decoration: underline;
}

.links {
    float: right;
    margin-top: 72px;
    margin-right: -350px;
    width: 360px;
}

.login {
    float: right;
    margin-top: 34px;
    margin-right: 50px;
    overflow: hidden;
    width: 490px;
}

input[type='text'], [type='password'] {
    background-color: whitesmoke;
    margin-left: 10px;
    margin-right: 10px;
    outline: none;
    padding-left: 8px;
    text-align: left;
    width: 170px;
}

.title, .date {
    background-color: rgb(163, 239, 176);
    border: groove 1px rgb(56, 87, 35);
    border-collapse: collapse;
    color: rgb(56, 87, 35);
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    height: 50px;
    line-height: 18px;
    margin: 0;
    padding: 16px;
    text-transform: uppercase;
    text-align: center;
}

.title {
    width: 82%;
}

.date {
    width: 18%;
}

.info {
    border: groove 1px rgb(56, 87, 35);
    color: #333;
    padding: 20px;
    text-align: center;
    width: 100%;
}

#news {
    background-color: whitesmoke;
    border: groove 1px rgb(56, 87, 35);
    border-collapse: collapse;
    height: 420px;
    overflow-y: scroll;
}

div#search-bar {
    float: left;
    box-sizing: border-box;
    background-color: #333;
     border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    display: block;
    height: 48px;
    width: 400px;
    text-align: left;
    outline: none;
    box-sizing: border-box;
}

div#search-bar input {
    background-color: whitesmoke;
    border: none;
    border-right: 2px solid #333;
    height: 100%;
    font-size: 25px;
    outline: none;
    padding-left: 12px;
    width: 330px;
}

div#search-bar img {
    padding-left: 3px;
    padding-bottom: 6px;
    height: 30px;
    width: 38px;
}

div#navigation-container {
    float: left;
    height: 100%;
    width: calc(100% - 400px);
}