<div>
  <div class="date">
    11.06.20
  </div>
  <div class="title">
    Рекорден брой нови случаи в България
  </div>
  <div class="info">
    104 са новите установени случаи на заразени с COVID-19 у нас за денонощие. Общият
    брой на заболелите е 2 993, от които активни са 1 162. Това сочат данните на Единния
    информационен портал. Разпределението по области по настоящ адрес на лицата е, както
    следва: Благоевград - 2; Велико Търново - 1; Кърджали - 1; Пазарджик - 2; Перник - 1;
    Плевен - 4; Разград - 3; Сливен - 8; Смолян - 41; София област - 4; София град - 19;
    Стара Загора - 15; Хасково - 1; Шумен - 2.
  </div>

  <div class="date">
    11.06.20
  </div>
  <div class="title">
    Извънредната епидемична обстановка се удължава до 30 юни
  </div>
  <div class="info">
    Извънредната епидемична обстановка заради коронавируса у нас ще остане до края на юни.
    Това стана ясно от думите на премиера Бойко Борисов в началото на заседанието на Министерския съвет.
    По думите му удължаването на епидемичната обстановка по никакъв начин не трябва да бъде приемано
    като застрашаващо или стресиращо. Той отново посочи, че мерките ни са най-либерални.
  </div>

  <div class="date">
    10.06.20
  </div>
  <div class="title">   
   Ново огнище на COVID-19: 51 положителни проби в Доспат
  </div>
  <div class="info">
    Oгнището на коронавирус в Родопите се разраства. Само в днешния ден са доказани нови 51 заразени.
    Всички те са от Доспат и работят в цех за играчки за шоколадови изделия. В същия завод, още преди
    дни бяха доказани и други заразени работници, но живеещи в град Сърница. Така вирусът продължава
    да се предава между двете общини.
  </div>

  <div class="date">
    09.06.20
  </div>
  <div class="title">
    Три учителки от детска градина в София са с коронавирус
  </div>
  <div class="info">
    Tри учителки от персонала на детска градина №50 в район “Възраждане” са с положителен резултат
    за Ковид-19 от направени бързи тестове, съобщи столичният кмет Йорданка Фандъкова във "Фейсбук".
    Утре, 10 юни, двете групи - Първа В и Четвърта А - в които те са преподавали, ще бъдат затворени.
  </div>

</div>