<footer>
    <p>&copy; 2020, All rights reserved &reg;</p>
    <div >
        <a href="https://remedium.bg/" target="_blank">
            <img src="../../../assets/images/logos/remedium.png" alt="Remedium" style="width:112px;height:38px">
        </a>

        <a href="http://mareshki.com/" target="_blank">
            <img src="../../../assets/images/logos/mareshki.png" alt="Mareshki" style="width:69px;height:38px;">
        </a>

        <a href="http://www.tokudabolnica.bg/" target="_blank">
            <img src="../../../assets/images/logos/tokuda.png" alt="Tokuda" style="width:123px;height:38px;">
        </a>

        <a href="https://www.mh.government.bg/bg/" target="_blank">
            <img src="../../../assets/images/logos/mh.png" alt="MH" style="width:43px;height:38px;">
        </a>

    </div>
</footer>