<section>
  <h1>Кои сме ние?</h1>
  <p>
    Ние сме екип от двама млади и амбицирани студенти, понастоящем в бакалавърска степен на
    своето образование
    в Факултета по Математика и Информатика към СУ "Св. Климент Охридски", София. Винаги сме имали интерес към
    извънкласните
    дейности, особено тези, допринасящи за подобрения и иновации в живота на човек.
  </p>

  <h1>За приложението</h1>
  <p>
    Идеята на това приложение е да подобри нашия живот по време на пандемията, като активно ни информира и образова за 
    настоящата ситуация, учи ни как да разграничаваме истински от фалшиви новини за вируса, и разбира се,
    как да предпазим себе си и околните

  </p>

  <h1>Контакти</h1>
  <p> За да се свържете с нас, пишете на email <i>cowin20@gmail.com</i> или посетете нашата фейсбук страница
    <i id="fb">https://www.facebook.com/CoWin2020 </i>
  </p>

</section>