main {
    background-color: #e5e5e7;
    border: none;
    box-sizing: border-box;
    display: block;
    height: calc(100% - 180px);
    margin-top: 110px;
    overflow: hidden;
    padding: 14px 120px;
    width: 100%;
}

form {
    background-color: whitesmoke;
    border: 1px solid #333;
    box-sizing: border-box;
    display: block;
    height: calc(100%);
    margin: auto;
    overflow: hidden;
    padding: 20px 0 0 0;
    width: 1004px;
}

fieldset {
    border: none;
    box-sizing: border-box;
    height: 450px;
    overflow: hidden;
    top: 0;
    width: 500px;
}

legend {
    box-sizing: border-box;
    color: #333;
    font: bold 19px sans-serif;
    margin: 0 0 30px 0;
    text-align: center;
    width: 460px;
}

.login-link {
    color: rgb(56, 87, 35);
    float: right;
    font: bold 18px sans-serif;
    margin: 46px 60px;
    overflow: hidden;
    width: auto;
}

.login-link a {
    color: inherit;
    font: inherit;
    text-decoration: underline;
}

.login-link a:hover {
    filter: brightness(70%);
}

input {
    background-color: whitesmoke;
    height: 24px;
    outline: none;
    text-align: left;
    width: 320px;
    padding-left: 8px;
    line-height: 80%;
}

.field {
    display: block;
    margin-bottom: 16px;
    width: 460px;
}

.top-field {
    display: block;
    margin-bottom: 20px;
    width: 460px;
    height: 24px;
}

span {
    font: normal 15px sans-serif;
    margin-right: 20px;
}

.field-title {
    display: block;
    margin-bottom: 5px;
}

.mini {
    margin-right: 10px;
    width: 100px;
}

select#country {
    appearance: none;
    background-color: whitesmoke;
    display: block;
    height: 24px;
    margin-bottom: 16px;
    -moz-appearance: none;
    -webkit-appearance: none;
    width: 320px;
}

#personal {
    border-collapse: collapse;
    float: left;
    padding: 0 90px;
}

#account {
    border-collapse: collapse;
    float: right;
    padding: 0 50px;
}

.top-field button {
    border: none;
    border-radius: 0;
    cursor: pointer;
    font-weight: bold;
    height: 24px;
    margin: 0;
    outline: none;
    text-align: center;
    text-decoration: none;
    width: 132px;
}

.active {
    background-color: #333;
    color: white;
}

.inactive {
    background-color: #B8B8B8;
    color: #333;
}

input#code {
    margin-right: 2px;
    margin-right: 8px;
    width: 80px;
}

input#phone {
    background-color: whitesmoke;
    border-bottom: none;
    border-right: none;
    border-top: none;
    height: 20px;
    outline: none;
    padding-left: 12px;
    width: 216px
}

div#pseudoInput {
    border: 2px inset #EBE9ED;
    background-color: whitesmoke;
    box-sizing: border-box;
    height: 24px;
    outline: none;
    padding-left: 8px;
    text-align: left;
    width: 320px;
}

div#pseudoInput img {
    margin-bottom: 3px;
    height: 14px;
    width: 22px;
}

div#pseudoInput span {
    width: 50px;
}

div#roles {
    display: block;
    margin-bottom: 10px;
    width: 460px;
    text-align: center;
}

input[type="radio"] {
    display: inline-block;
    font-weight: bold;
    height: 13px;
    margin-right: 5px;
    width: 13px;
}

span#radio-text {
    font: bold 15px sans-serif;
}

input[type="checkbox"] {
    display: inline-block;
    font-weight: bold;
    height: 13px;
    padding-top: 5px;
    margin-right: 10px;
    width: 13px;
}

span#consent {
    font: normal 14px sans-serif;
    padding: 0;
    text-decoration: none;
}

div#gdpr {
    display: block;
    height: 72px;
    margin-bottom: 10px;
    text-align: justify;
    text-justify: inter-word;
    width: 420px;
}

div#bottom-container {
    clear: both;
    display: flex;
    height: calc(100% - 463px);
    margin-bottom: 13px;
    width: 100%;
}

button#registerButton {
    background-color: #333;
    border-radius: 4px;
    color: whitesmoke;
    font-weight: bold;
    height: 35px;
    margin: auto auto;
    text-align: center;
    width: 200px;
}

#hint {
    cursor: pointer;
    display: inline-block;
    background-color: #B8B8B8;
    color: #333;
    height: 24px;
    font-weight: bold;
    margin-left: 0;   
    text-align: center;
    width: 24px;
}

#shorter-input {
    display: inline-block;
    width: 296px;
    margin-right: 0;
}