section {
    background-color: whitesmoke;
    box-sizing: border-box;
    color: #333;
    display: block;
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 100%;
}

canvas {
    margin: auto auto;
    max-height: 600px;
    max-width: 1002px;
}