<section>
  <div id="header">
    <div id="alphabet">
      <span>А</span>
      <span>Б</span>
      <span>В</span>
      <span>Г</span>
      <span>Д</span>
      <span>Е</span>
      <span>Ж</span>
      <span>З</span>
      <span>И</span>
      <span>Й</span>
      <span>К</span>
      <span>Л</span>
      <span>М</span>
      <span>Н</span>
      <span>О</span>
      <br>
      <span>П</span>
      <span>Р</span>
      <span>С</span>
      <span>Т</span>
      <span>У</span>
      <span>Ф</span>
      <span>Х</span>
      <span>Ц</span>
      <span>Ч</span>
      <span>Ш</span>
      <span>Щ</span>
      <span>Ъ</span>
      <span>Ь</span>
      <span>Ю</span>
      <span>Я</span>
    </div>
    <div id="show">
      <div id="show-by">Покажи по: </div><span>Име</span>, <span>Възраст</span>, <span>Област</span>, <span>Заболяване</span>
    </div>
  </div>

  <div id="content" [hidden]="this.clickedPatient !== -1">
      <div class="card" *ngFor="let item of patientName; let i = index" (click)="this.clickedPatient = i"> 
        
        {{this.patientName[i]}},
        {{this.patientAge[i]}},
        {{this.patientAdress[i]}},
        {{this.patientCondition[i]}}
      </div>
  </div>
  <div class="cardDetails" *ngFor="let item of patientName;let i = index" [hidden]="this.clickedPatient !== i">
    <img src="../../../../assets/images/x-icon.png" height="48" width="48" (click)="this.clickedPatient = -1">
    <div class="patientProfile">
      Име: {{this.patientName[i]}}
      <br>
      Адрес: {{this.patientAdress[i]}}
      <br>
      Заболяване: {{this.patientCondition[i]}}
      <br>
      Възраст: {{this.patientAge[i]}}
      <br>
      Лекарства: N/A
    </div>
    <div class="patientButtons">
        <button type="button">Обнови</button>
        <button type="button">Виж история</button>
        <button type="button">Виж дневник</button>
    </div>
  </div>
</section>