div {
    display: inline-block;
    height: 100%;
    padding: auto auto;
    background-color: whitesmoke;
    width: calc(100% - 350px);
    margin: 0;
    overflow: hidden;
}

nav {
    background-color: whitesmoke;
    position: relative;
    margin-left: 0;
    width: 350px;
    float: right;
    overflow: hidden;
    padding: 50px 45px;
}

nav button {
    box-sizing: border-box;
    margin-bottom: 25px;
    border: 2px solid #bebebe;
    outline: none;
    line-height: 16px;
    font-size: 16px;
    width: 260px;
    height: 46px;
    overflow: hidden;
    text-transform: uppercase;
}

nav button.active, nav button:hover {
    background-color: #333;
    color: white;
    outline: none;
}

nav button.inactive {
    background-color: whitesmoke;
    color: black;
    outline: none;
}

section {
    margin: 60px auto 20px auto;
    background-color: rgb(163, 239, 176);
    border: 2px solid rgb(163, 239, 176);
    border-radius: 25px;
    height: 400px;
    width: 600px;
    padding: 25px 0 65px 0;
}

section h1 {
    height: 30px;
    font-size: 24px;
    font-weight: bold;
    padding-left: 20px;
    text-align: left;
    background-color: rgb(163, 239, 176);
    color: rgb(56, 87, 35);
}

textarea {
    background-color: white;
    font-size: 18px;
    padding: 20px;
    border: none;
    width: 100%;
    height: 280px;
}

.button {
    background-color: #BEBEBE;
    float: left;
    font-size: 18px;
    height: 30px;
    margin-left: 380px;
    padding: 0;
    text-align: center;
    width: 120px;
    border-radius: 0;
    cursor: pointer;
    outline: none;
}

.button img {
    float: right;
    margin: 6px 9px 6px auto;
}