section {
    height: 330px;
    margin: 80px;
}

h2 {
    width: 100%;
    height: 28px;
    font-size: 28px;
    text-align: center;
    margin-bottom: 42px;
    font-weight: bold;
    text-decoration: underline;
}

p {
    font-size: 18px;
    text-align: left;
    text-align: justify;
    text-justify: inter-word;
}

div#buttons {
    position: fixed;
    height: 48px;
    font-size: 14px;
    text-align: center;
    padding: 0 400px;
}

button {
    display: inline-block;
    width: 140px;
    height: 54px;
    margin: 0px 30px 40px 30px;
    font-weight: bold;
}

