


<main>

  <section  [hidden]="this.selectedTabId !== 0">
    <article>
      <h2>Лекция 1. Какво представляват пандемиите?</h2>
      <p>Пандемията (от гръцки: παν, pan – „всички“ и δήμος, demos – „хора“) е проява на инфекциозно заболяване, което се разпространява сред населението на определен обширен географски регион, континент или по целия свят, като се заразяват много хора.[1] Практически пандемията е вид всеобхватна епидемия, характеризираща се с появата на нов вирус или инфекциозен носител, срещу който човешката популация няма имунитет. Обикновено процентът на смъртност при пандемичните вълни е особено висок. Подобен взрив на инфекциозно заболяване сред животните се нарича панзоотия.

        В миналото пандемични вълни от чума, вариола, морбили, туберкулоза, малария, коремен тиф, проказа, жълта треска и грип са обезлюдявали големи райони и дори отслабвали силите на велики държави. Заболявания като инсулт, инфаркт на миокарда, рак, затлъстяване, макар широко разпространени сред човечеството и причина за милиони жертви, не могат да бъдат характеризирани като пандемия. Причината за това, е че липсва инфекциозен възбудител. </p>
    </article>
  </section>

  <section  [hidden]="this.selectedTabId !== 1">
    <article>
      <h2>Лекция 2. Covid-19 - Къде, как, защо? </h2>
      <p>Коронавирусите са вируси, които циркулират сред животните, но за някои от тях се знае, че засягат хората. След като заразят хората, те могат евентуално да се предават от човек на човек. Известен е широк кръг от животни, които са източник на коронавируси. Например, вирусът, причиняващ Близкоизточен респираторен синдром (MERS-CoV) е коронавирус, произхождащ от камили, а тежкият остър респираторен синдром (ТОРС) произхожда от котки - циветки.

        Новият коронавирус, открит в Китай е генетично тясно свързан с вируса на SARS (ТОРС) от 2003 г. и изглежда, че има подобни характеристики, въпреки че все още данните за този вирус са ограничени. ТОРС се появи в края на 2002 г. в Китай и в продължение на осем месеца са докладвани над 8 000 случая от 33 държави. Тогава един от всеки десет души, които са заразени с ТОРС почина. При настоящия взрив от 2019-nCoV са докладвани около 10 000 случая 
        в Китай (от края на декември 2019 г. - до края на януари 2020 г.). Заболели са съобщени и от други държави, вкл. някои и от ЕС/ЕИП. На този етап има твърде малко налични данни, за да се каже със сигурност колко смъртоносен е 2019-nCoV, но предварителни данни сочат, че той е по-малко фатален от SARS-CoV (ТОРС).
    </article>
  </section>

  <section  [hidden]="this.selectedTabId !== 2">
    <article>
      <h2>Лекция 3. Как да пазим себе си и околните</h2>
      <p>С помощта на прости мерки за хигиена можете да предпазите здравето на вашето семейство и на всички останали.

        Не докосвайте лицето си
        
        Избягвайте да докосвате очите, носа и устата си.
        
        Не закривайте устата си с ръце при кашляне и кихане
        
        Закривайте устата и носа си със свивката на лакътя или с хартиена кърпичка, когато кашляте и кихате. Незабавно изхвърлете кърпичката.
        
        Стойте на разстояние
        
        Стойте на разстояние най-малко 1 метър от хората, които кашлят или кихат.
        
        Мийте, мийте и пак мийте ръцете си
        
        Да, наистина го чувате навсякъде, защото е най-добрият начин на защита. Мийте често ръцете си със сапун и вода в продължение на най-малко 20-30 секунди.
        
        Лесен начин да отмерите нужното време с децата ви е като изпеете два пъти песничката за рожден ден.
        
        На забравяйте да миете ръцете си след издухване на носа, кихане в кърпичка, използване на тоалетна, когато излизате и се прибирате в дома си, преди приготвяне на храна и преди хранене, преди поставяне на грим, контактни лещи и т.н.
        
        Ако използвате дезинфектант за ръце, уверете се, че той съдържа най-малко 60% алкохол, нанасяйте го върху всички повърхности на ръцете и ги търкайте в продължение на 20-30 секунди, докато усетите, че са сухи. Ако ръцете ви са видимо мръсни, винаги ги мийте със сапун и вода.</p>
    </article>
  </section>

  <div id="buttons">
    <button (click)="changeTab(-1)" id="back" name="checkout-button" [disabled]="this.selectedTabId == 0" > Предишна лекция</button>
    <button (click)="changeTab(1)" id="front" name="checkout-button"  [disabled]="this.selectedTabId == 2"> Следваща лекция</button>
  </div> 

</main>


